@model CetStudentBook.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bu kitabi silmek istediginizden emin misiniz?</h3>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Yazar</dt>
        <dd class="col-sm-10">@Model.Author</dd>

        <dt class="col-sm-2">Yayin Tarihi</dt>
        <dd class="col-sm-10">@Model.PublishDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Sayfa Sayisi</dt>
        <dd class="col-sm-10">@Model.PageCount</dd>

        <dt class="col-sm-2">Ikinci El</dt>
        <dd class="col-sm-10">@(Model.IsSecondHand ? "Evet" : "Hayir")</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
